// These colors are specific to the theme. Do not use in a package!

@very-light-gray:   #FAFAFA;
@light-gray:        #B0BEC5;
@gray:              #607d8b;
@dark-gray:         #455A64;
@very-dark-gray:    #263238;

@green:             #81C784;
@teal:              #00796B;
@light-teal:        #009688;
@cyan:              #00BCD4;
@blue:              #2196F3;
@indigo:            #3F51B5;
@purple:            #9C27B0;
@pink:              #E91E63;
@red:               #F44336;
@strong-orange:     #F78C6A;
@orange:            #FFA000;
@light-orange:      #FFC107;
